dist/
dist-*/
dist-newstyle/
.stack-work/
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
*.o
*.hi
*.hi-boot
*.dyn_o
*.dyn_hi
*.so
*.dylib
*.a
*.prof
*.hp
*.eventlog
*.log
*.aux
*.ps
*.tix
*.chi
*.chs.h
*.swp
.DS_Store
